<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img
    src="https://docs-demo.ionic.io/assets/madison.jpg"
    alt="The Wisconsin State Capitol building in Madison, WI at night"
  ></ion-img>

  <!-- Botón que navega al perfil -->
  <div class="button-container">
    <ion-button expand="block" routerLink="/perfil">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      Ir a Mi Perfil
    </ion-button>
  </div>
</ion-content>